<tr>
    <td 
        align="center" 
        class="esd-block-button es-p20"
    >
        <!--[if mso]>
        <a 
            href="${link}" 
            target="_blank" 
            hidden
        >
            <v:roundrect 
                xmlns:v="urn:schemas-microsoft-com:vml"
                xmlns:w="urn:schemas-microsoft-com:office:word"
                esdevVmlButton href="https://lyvely.com/home"
                style="height:61px; v-text-anchor:middle; width:338px"
                arcsize="8%" stroke="f" fillcolor="#cb2379"
            >
                <w:anchorlock></w:anchorlock>
                <center 
                    style="color:#ffffff; 
                    font-family: Poppins; 
                    font-size:18px; 
                    font-weight:400; 
                    line-height:18px;  
                    mso-text-raise:1px"
                >
                    {{text}}
                </center>
            </v:roundrect>
        </a>
        <![endif]-->
        <!--[if !mso]><!-- -->
        <span 
            class="msohide es-button-border"
            style="border-radius: 5px; background: #cb2379;"
        >
            <a
                href="{{link}}"
                class="es-button es-button-1685708025909"
                target="_blank"
                style="font-size: 18px; border-radius: 5px; background: #cb2379; border-color: #cb2379; padding: 20px 25px"
            >
                {{text}}
            </a>
        </span>
        <!--<![endif]-->
    </td>
</tr>

