<table style="font-family:'Poppins',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
    <tbody>
        <tr>
            <td style="overflow-wrap:break-word;word-break:break-word;padding:20px 10px 10px 32px;font-family:'Poppins',sans-serif;" align="left">
                <div style="font-size: 14px; color: #e5eaf5; line-height: 150%; text-align: left; word-wrap: break-word;">
                    <p style="font-size: 14px; line-height: 150%;"><span style="font-size: 32px; line-height: 48px; font-family: Epilogue;"><span style="line-height: 21px;">
                        <span style="font-family: Lato, sans-serif; line-height: 21px;"><strong>{{title}}</strong></span>&nbsp;</span></span>
                    </p>
                </div>
            </td>
        </tr>
    </tbody>
</table>

