<tr>
    <td 
        align="center"
        class="esd-block-text es-p5t es-p25b es-p20r es-p20l"
    >
        <p 
            style="
                font-size: 32px; 
                color: #fff; 
                line-height: 150%; 
                font-family: Poppins;
                font-weight: 700;
            "
        >
            {{title}}
        </p>
    </td>
</tr>

