{{> header }}
    {{> h1-updated title='Welcome to Lyvely Pro!'}}
    {{> h2-updated title='Congrats! You\'re in the big leagues now. Exciting times ahead!'}}
    <table style="font-family:'Poppins',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
        <tbody>
            <tr>
            <td style="overflow-wrap:break-word;word-break:break-word;padding:10px 32px 13px;font-family:'Poppins',sans-serif;" align="left">
                <div style="font-size: 14px; color: #ffffff; line-height: 160%; text-align: left; word-wrap: break-word;">
                    <p style="line-height: 160%;">
                        <span style="font-family: Lato, sans-serif; line-height: 22.4px;">
                            With your Lyvely Pro upgrade, you've just unlocked the full power of monetizing your content and services online.
                        </span>
                    </p><br>
                    <p style="line-height: 160%;">
                        <span style="font-family: Lato, sans-serif; line-height: 22.4px;">
                            Now you can enjoy the benefits of having a verified Lyvely account, unlimited live streams, 
                            unlimited video calls and uploads, and reduced commission on your sales through Lyvely. 
                            As a Pro verified Lyvely Creator, you now have VIP access to high value events and discussions with 
                            our exclusive AMA's featuring Lyvely's founders and other special guests- a benefit only available 
                            to our Pro members.
                        </span>
                    </p><br>
                    <p style="line-height: 160%;">
                        <span style="font-family: Lato, sans-serif; line-height: 22.4px;">
                            We're thrilled to have you on board as a Pro. Choosing to become a Lyvely Pro member 
                            is more than just an upgrade. It's a symbol that you are committed to investing in your growth and success.
                        </span>
                    </p><br>
                    <p style="line-height: 160%;">
                        <span style="font-family: Lato, sans-serif; line-height: 22.4px;">
                            Respect.
                        </span>
                    </p><br>
                    <p style="line-height: 160%;">
                        <span style="font-family: Lato, sans-serif; line-height: 22.4px;">
                            For this, we're giving you an enthusiastic high five, and our promise to help you crush it here on Lyvely and thrive.
                        </span>
                    </p>
                </div>
            </td>
            </tr>
        </tbody>
    </table>
    {{> support-text text='Here to see you win' subText='Lyvely' }}
{{> footer }}

